/* Write your CSS here */
.bg-container {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container {
  height: 150px;
  width: 300px;
  border-radius: 8px;
  background-color: black;
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.heading {
  color: #ffffff;
  font-size: 26px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.button {
  background-color: #ffffff;
  border-radius: 5px;
  border-width: 1px;
  border-color: #000000;
  height: 50px;
  width: 100px;
}
